<%= render "articles/navbar" %>
<div class="container">
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="card-product my-3">
        <img src="https://picsum.photos/300/300?random=<%= rand(1000) %>" />
        <div class="card-product-infos">
          <h2><%= article.title %></h2>
          <p><%= article.content %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
